.contenedor {
    margin: 0 auto;
    width: 80%;
}

h1{
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
}

thead th{
    background-color: #363636;
    font-size: larger;
    color: white;
    text-align: left;
    padding: 1rem;
    opacity: .8;
}

tbody td{
    border: 1px solid #ccc;
    padding: 1rem;
}